


#homePage{
	background-color:whitesmoke;
}
#rasinPage{
	background-color:mediumpurple;
a{
text-decoration:none;
}
 ul {
list-style-type:none;
}
#pistachioPage{
background-color: #e2f786;
}


}

.topnav {
background-color: #f0faff;


#Recipes{
background-color: #d6bdab ;
}
For later
Lemon page: #fff8c
Cookie page: #d6bdab
Macaroon page: #fff5fe